@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

// HEADER *******************************//

header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7.5rem;
  padding: 0 6rem 0 6rem;
  border-top: 0.1rem solid #c0c0c0;
  border-bottom: 0.1rem solid #c0c0c0;
  z-index: 100;
}

// SEARCHBAR

.searchbar {
  --searchbarheight: 3.5rem;
  --searchbarwidth: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--searchbarwidth);
  border: 0.1rem solid #c0c0c0;
  padding: 0 0.5rem 0 1.5rem;

  .searchinput {
    height: var(--searchbarheight);
    width: 100%;
    border: none;
    font-size: 1.7rem;

    &::placeholder {
      color: #a4a4a4;
    }
  }

  button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;

    .searchicon {
      display: block;
      height: calc(var(--searchbarheight) - 1rem);
      filter: invert(41%) sepia(10%) saturate(13%) hue-rotate(345deg)
        brightness(92%) contrast(83%);
    }
  }
}

// HAMBURGER

.box {
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 2rem;

  .lines-container {
    width: 3rem;
    height: 2.5rem;
    position: absolute;
    transform: translateY(-50%);

    .line {
      position: absolute;
      width: 100%;
      height: 2px;
      background: black;
      transition: all 1s ease;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 1.25rem;
      }
      &:nth-child(3) {
        top: 2.5rem;
      }
    }

    .line.active {
      &:nth-child(1) {
        top: 1.25rem;
        transform: rotate(90deg);
      }
      &:nth-child(2) {
        top: 1.25rem;
        transform: rotate(180deg);
      }
      &:nth-child(3) {
        top: 3rem;
      }
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 7.5rem;
}

.menu {
  position: fixed;
  transform: translateX(100vw);
  height: 100vh;
  width: 100%;
  z-index: 1;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 5rem 0;
  font-size: clamp(6rem, 5vw, 10rem);

  a {
    font-family: "Merriweather", serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    color: white;
    padding: 2rem;
  }
}

.menu.active {
  transform: translateX(0);
  background-color: #333333;
}

// PART1 *******************************//

.part1 {
  display: flex;
  width: 100%;
  height: 66rem;
}

.p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  padding: 3rem;
  line-height: 2.5rem;
}

.leftside {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 66rem;

  .titleside {
    display: flex;
    align-items: center;
    height: 50%;

    h2 {
      font-family: "Merriweather", serif;
      font-size: 8vw;
      font-weight: 300;
      margin-left: 3vw;
      margin-right: 1rem;
    }
  }

  .img-desc-1 {
    display: flex;
    width: 100%;
    height: 50%;

    .bg-img {
      background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/5592e262835154f8862ad87e/pexels-photo-5941929.jpeg?version=");
      background-size: cover;
      background-position: center;
      flex-basis: 50%;
      height: 100%;
      border: solid;
    }

    .desc {
      flex-basis: 50%;
    }
  }
}

.rightside {
  flex-basis: 50%;
  padding: 3rem;
  background-color: #e5d9e3;

  .img-desc-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .photo {
      width: 34.8rem;
      height: 45.2rem;
      margin: 0 auto;

      img {
        max-width: 100%;
      }
    }

    .p {
      text-align: center;
      width: 70%;
    }
  }
}

// PART2 *******************************//

.part2 {
  height: 50rem;
  background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/4b76039be27e57d38bcce923/pexels-photo-3356833.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 40rem;
    font-size: 5rem;
    text-align: center;
    color: white;
  }

  a {
    position: relative;
    color: white;
    font-size: 2rem;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      height: 0.2rem;
      width: 50%;
      background-color: white;
      left: 0;
      right: 0;
      top: 2.3rem;
      margin: 0 auto;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

// PART3 *******************************//

.part3 {
  display: flex;
  height: 60rem;
  width: 100%;

  .part3-leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100% - 5rem);
    width: 30%;
    margin-top: 5rem;

    ul {
      display: flex;
      width: 15rem;
      justify-content: space-between;
      padding: 0 2rem 0 0;
    }
  }

  .part3-rightside {
    width: 100%;
    height: 100%;
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/d611d5af242d56ea8d016d6a/pexels-photo-5990677.jpeg");
    background-size: cover;

    .flex-end {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 50%;
        width: 50%;
        padding: 0 4rem 0 4rem;
        white-space: nowrap;
        font-size: clamp(3rem, 5vw, 5rem);
        background-color: #e5d9e3;
      }
    }
  }
}

// PART4 *******************************//

.part4 {
  position: relative;
  width: 100%;
  min-height: 50rem;

  .part4-title {
    width: 100%;
    height: 100%;

    h2 {
      margin-left: 10vw;
      font-size: 10rem;
      width: 50rem;
    }
  }

  .part4-aside {
    position: absolute;
    bottom: 3rem;
    right: 18vw;

    p {
      font-size: clamp(3rem, 10vw, 5rem);
      margin: 2rem 2rem 3.5rem 2rem;
    }
  }
}

// PART5 *******************************//

.part5 {
  display: flex;
  width: 100%;
  height: 60rem;
  background-color: #e5d9e3;

  .part5-leftside {
    height: 100%;
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/4b76039be27e57d38bcce923/pexels-photo-3356833.jpeg?version=");
    background-position: center;
    background-size: cover;
    border: solid;
    flex-basis: 33%;
  }

  .part5-midside {
    display: flex;
    align-items: center;
    height: 100%;
    flex-basis: 33%;

    ul {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      li {
        font-size: 3.5vw;
        font-weight: 600;
        font-family: "Merriweather", serif;
      }
    }
  }

  .part5-rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-basis: 33%;
    padding: 3.3rem;

    img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
    }

    p {
      margin: 0;
      padding: 3rem 0 3rem 0;
    }
  }
}

// PART6 *******************************//

.part6 {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/e8af5196ab7555cda6319d8a/pexels-photo-2387793.jpeg");
  background-position: center;
  background-size: cover;

  button {
    width: 50%;
    height: 40%;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-size: 3.7rem;
    font-weight: 600;
    background: none;
    border: solid white;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

// PART7 *******************************//

.part7 {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    gap: 1rem;

    li {
      position: relative;
      min-width: 50rem;
      flex-grow: 1;
      min-height: 30rem;
      height: 40rem;
      cursor: pointer;
      transition: 0.3s ease;

      .img-card {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/d661c0452b915eccbfc166da/pexelsphoto972325.jpeg");
        background-size: cover;
        background-position: center;
      }

      .img-card-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease;
        opacity: 0;
        &:hover {
          opacity: 1;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.229)
          );
          z-index: 2;
        }
      }
    }
  }

  p {
    margin-left: 12vw;
    font-size: 5rem;
    width: 70%;
    padding: 3rem;

    strong {
      font-style: italic;
    }
  }
}

// PART8 *******************************//

.part8 {
  background-color: #e5d9e3;

  .part8-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    gap: 2rem;

    width: 80%;
    margin: auto;

    .part8-leftside {
      min-height: 50rem;
      flex-basis: 50%;

      h2 {
        width: 100%;
        font-size: 5.5rem;
        margin: 0 0 3rem 0;
      }

      p {
        padding: 0;
      }
    }

    .part8-rightside {
      height: 50rem;
      flex-basis: 50%;

      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & > input,
        & > textarea {
          height: 5rem;
          width: 100%;
          padding-left: 1rem;
          padding-top: 0.5rem;
          font-size: 1.7rem;
        }

        & > textarea {
          height: 10rem;
        }

        .acceptTerms {
          display: flex;
          align-items: center;
          label {
            display: block;
            font-size: 2rem;
            margin-left: 0.5rem;

            a {
              color: #bda9bb;
              text-decoration: none;
            }
          }
        }

        input[type="button"] {
          color: white;
          width: 11rem;
          background-color: #bda9bb;
          border: none;
          font-size: 1.8rem;
          cursor: pointer;

          &:hover {
            background-color: #b59bb3;
          }
        }
      }
    }
  }
}

// FOOTER *******************************//

footer {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  color: white;
  padding: 2rem;

  p {
    font-size: 1.8rem;

    a {
      text-decoration: none;
      color: #b59bb3;
    }
  }
}

.part1,
.part2,
.part3,
.part4,
.part5,
.part6,
.part7,
.part8 {
  width: 100%;
}

//
// MEDIA QUERIES *******************************//
//

@media screen and(min-width:1800px) {
  html {
    font-size: 100%;
  }
}

@media screen and(min-width:1440px) {
  html {
    font-size: 59%;
  }
}

@media screen and(max-width:768px) {
  html {
    font-size: 49%;
  }

  header {
    height: 15rem;
    max-height: none;
  }

  .main {
    padding-top: 15rem;
  }

  .searchbar {
    --searchbarheight: 6rem;
    --searchbarwidth: 40rem;
  }

  .part1 {
    flex-direction: column;
    height: 130rem;

    .img-desc-1 {
      height: 55rem;
    }
  }

  .part3 {
    flex-direction: column;
    height: 120rem;

    .part3-leftside {
      width: 100%;
      height: 40%;
    }

    .part3-rightside {
      height: 100rem;
      border: 3px red;

      .flex-end {
        h2 {
          width: 75%;
          height: 60%;
          font-size: 4.5rem;
        }
      }
    }
  }
}

@media screen and(max-width:425px) {
  html {
    font-size: 45%;
  }

  .part8-container {
    height: 115rem;
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }

  .part7 > ul > li {
    height: 10rem;
    min-height: none;
  }
}

@media screen and(max-width:400px) {
  html {
    font-size: 40%;
  }
}

// little things to use

ul,
li {
  list-style-type: none;
}
.scicon {
  width: 2rem;
  height: 2rem;
}
